{% extends 'base.html.twig' %}

{% block title %}
	Se connecter
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include 'Layout/header.html.twig' %}
	<form action="{{ path('app.login') }}" method="post" class="card">
		{% if error %}
			<div class="alert alert-danger" role="alert">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}
		<div class="container">
			<img src="http://previews.123rf.com/images/stodolskaya/stodolskaya1511/stodolskaya151100027/49219342-Connexion-de-l-utilisateur-ou-l-acc-s-authentification-ic-ne-Banque-d'images.jpg" alt="image"/>
			<div class="form-input">
				<i class="fa fa-user fa-2x" aria-hidden="true"></i>
				<input type="text" placeholder="Enter your Email" value="{{ lastUsername }}" name="_username" id="username"></div>
			<div class="form-input">
				<i class="fa fa-lock fa-2x" aria-hidden="true"></i>
				<input type="password" placeholder="Enter your Password" name="_password" id="password">
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<input type="submit" id="submit" value="Valider"/><br>
		</div>
	</form>
{% endblock %}
