{% extends 'base.html.twig' %}

{% block title %}
	Portfolio
	{{ parent() }}

{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

	<section>
		<div class="portfolio-back">
			<div class="portfolio-app">
				<h1>PORTFOLIO PHOTOGRAPHE CRÉATIF</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, cumque culpa! Molestiae nulla eum quidem exercitationem corrupti velit magnam veniam laudantium ea, nemo quasi deserunt dolore explicabo quas, eius accusantium.
																								Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, cumque culpa! Molestiae nulla eum quidem exercitationem corrupti velit magnam veniam laudantium ea, nemo quasi deserunt dolore explicabo quas, eius accusantium.</p>
			</div>
		</div>


		<div class="card-portfolio-list">
			{% for portfolio in portfolios %}
				{% include 'Components/_portfolioCard.html.twig' %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
