<div class="message-card">
	{{ form_start(form) }}
	<h1>Contact
	</h1>
	<div class="card-form">
		<div class="fullname">

			{{ form_row(form.firstName) }}

			{{ form_row(form.lastName) }}


		</div>
		<div class="email">

			{{ form_row(form.email) }}
		</div>
		<div class="message">

			{{ form_row(form.message) }}
		</div>
	</div>
	{# <button class="btn btn-contact" type="submit">Envoyer</button> #}
	<button class="c-btn" type="submit">Envoyer</button>

	{{ form_end(form) }}
</div>
