{% extends 'base.html.twig' %}

{% block title %}
	Création d'une catégorie
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<section class="categories ">
		<div class="categories-head creer">
			<h1 class="text-center">Création d'une catégorie</h1>
			<div class="c-creer">
				{% include 'Backend/Categorie/_form.html.twig' with {buttonLabel: 'Créer'} %}
				<a href="{{ path('admin.categories.index') }}">Retour à la liste</a>
			</div>

		</div>

	</section>
{% endblock %}
