{% extends 'base.html.twig' %}

{% block title %}
	Administration des catégories
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<section class="categories">
		<div class="categories-head">
			<h1 class="text-center">Administration des catégories</h1>
			<a href="{{ path('admin.categories.create') }}">Créer une catégorie</a>
		</div>

		<div class="categories-blog">
			{% for categorie in categories %}
				<div class="blog-list">
					<div class="blog-card-content">
						<h2>{{ categorie.titre|sanitize_html }}</h2>
					</div>
					<div class="c-change">
						<a href="{{ path('admin.categories.edit', {id: categorie.id}) }}">Modifier</a>
						{% include 'Backend/Categorie/_deleteForm.html.twig' %}
					</div>
				</div>
			{% endfor %}

		</div>
	</section>
{% endblock %}
