{{ form_start(form, {'attr': {'class': 'form'}}) }}


{{ form_row(form.title) }}
{{ form_row(form.metaTitle) }}
{{ form_row(form.metaDescription) }}

{{ form_row(form.categories) }}

{{ form_row(form.image) }}


{{ form_row(form.content) }}


<div class="button">
	<button class="btn" type="submit">{{ buttonLabel|default('Save') }}</button>
</div>

{{ form_row(form._token) }}

{{ form_end(form, {render_rest:false}) }}
