<div class="card-portfolio hover">
	{% if '.mp4' in  portfolio.imageName %}
		<video loop autoplay muted class="photo">
			<source src="{{ vich_uploader_asset(portfolio, 'image')}}">
		</video>
	{% else %}
		<img src="{{ vich_uploader_asset(portfolio, 'image')}}" alt="photo" class="photo">
	{% endif %}

	<div class="modal">
		<div class="modal-wrapper">
			{% if '.mp4' in  portfolio.imageName %}
				<video loop autoplay muted class="photo">
					<source src="{{ vich_uploader_asset(portfolio, 'image')}}">
				</video>
			{% else %}
				<img src="{{ vich_uploader_asset(portfolio, 'image')}}" alt="photo" class="zoomphoto">
			{% endif %}
		</div>
	</div>
	<div class="card-body">
		<h1>{{ portfolio.title|sanitize_html}}</h1>
		<p>
			<i class="bi bi-calendar-heart"></i>
			{{ portfolio.createdAt|format_datetime('full', 'none') }}
		</p>

		<p>{{ portfolio.content|slice(0, 400)|sanitize_html}}</p>


	</div>


	{% if app.request.get('_route') == 'admin.portfolios.index' %}
		<div class="button">
			<a href="{{ path('admin.portfolios.edit', {id: portfolio.id}) }}" class="a-btn">Modifier</a>
			{% include 'Backend/Portfolio/_deleteForm.html.twig' %}
		</div>
	{% endif %}
</div>
