<div class="card-portfolio">

	<img src="{{ vich_uploader_asset(portfolio, 'image')}}" alt="">

	<div class="card-body">
		<h1>{{ portfolio.title}}</h1>
		<p class="blog-card-content-date">
			<i class="bi bi-calendar-range-fill"></i>
			{{ portfolio.createdAt|format_datetime('full', 'none') }}
		</p>

		<p class="blog-card-content-desc">{{ portfolio.content|slice(0, 150)|sanitize_html|striptags }}...</p>

	</div>


	{% if app.request.get('_route') == 'admin.portfolios.index' %}
		<div class="button">
			<a href="{{ path('admin.portfolios.edit', {id: portfolio.id}) }}" class="a-btn">Modifier</a>
			{% include 'Backend/Portfolio/_deleteForm.html.twig' %}
		</div>
	{% endif %}
</div>
