<header class="navbar">
	<div
		class="navbar-content">
		{# classic menu #}
		<ul class="navbar-links" role="navigation">
			<li>
				<a class="nav-link{{app.request.get('_route') == 'app.homepage'?'active'}}" href="{{ path('app.homepage')}}">ACCUEIL</a>
			</li>
			<li>
				<a class="nav-link{{ app.request.get('_route') == 'app.portfolios.index' ? 'active' }}" href="{{ path('app.portfolios.index')}}">PORTFOLIO</a>
			</li>
			<li>
				<a href="{{ path('app.homepage') }}" class="flash">
					<p class="name">Jeremy</p>
				</a>
			</li>
			<li>
				<a class="nav-link{{ app.request.get('_route') == 'app.about.index' ? 'active' }}" href="{{ path('app.about.index')}}">ABOUT</a>
			</li>
			<li>
				<a class=" nav-link {{ app.request.get('_route') == 'app.contact.index' ? 'active' }} " href=" {{ path('app.contact.index')}} ">CONTACT</a>
			</li>
			<li>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('app.logout') }}" class="btn">Se deconnecter</a>
				{% endif %}
			</li>
		</ul>
	</div>
	<!-- Responsive Menu -->
	<div class="navbar-menu">
		<div class="menu-container">

			<a href="{{path('app.homepage')}}" class="menu-logo">Jeremy</a>


			<div class="menu-roulent">
				<a class="link-burger">
					<span class="navbar-burger"></span>
				</a>
				<ul>

					<li><a class="nav-link{{app.request.get('_route') == 'app.homepage'?'active'}}"href="{{ path('app.homepage')}}">ACCUEIL</a></li>
					<li><a class="nav-link{{ app.request.get('_route') == 'app.portfolios.index' ? 'active' }}"href="{{ path('app.portfolios.index')}}">PORTFOLIO</a></li>
					<li><a class="nav-link{{ app.request.get('_route') == 'app.about.index' ? 'active' }}"href="{{ path('app.about.index')}}">ABOUT</a></li>
					<li><a class=" nav-link {{ app.request.get('_route') == 'app.contact.index' ? 'active' }} " href=" {{ path('app.contact.index')}} ">CONTACT</a></li>
				</ul>
			</div>
		</div>


	</div>


</header>
