<header class="navbar">


	<a class="nav-link{{app.request.get('_route') == 'app.homepage'?'active'}}" href="{{ path('app.homepage')}}">ACCUEIL</a>
	<a class="nav-link{{ app.request.get('_route') == 'app.portfolios.index' ? 'active' }}" href="{{ path('admin.portfolios.index')}}">PORTFOLIO</a>
	<a href="{{ path('app.homepage') }}">
		<p class="name">JEREMY</p>
	</a>
	<a href="#">ABOUT</a>
	<a href="#">CONTACT</a>


	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app.logout') }}" class="btn">Se deconnecter</a>
	{% endif %}
</header>
